<form [formGroup]="passwordGroup">
    <div class="w-full px-3 mb-6 relative">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="fedex-password">
            {{ 'Password' | translate }}
        </label>
        <app-password-field formControlName="password" name="password" id="fedex-password"></app-password-field>

        <p id="password-required"
            *ngIf="(passwordControl?.touched || formSubmitted) && passwordControl?.errors?.required; else hasUpperCaseLowerCase"
            class="text-fedex-red-500 text-xs italic absolute">{{ 'requiredField' | translate }}</p>
        <ng-template #hasUpperCaseLowerCase>
            <p id="password-uppercase-lowercase"
                *ngIf="(passwordControl?.touched || formSubmitted) && passwordControl?.errors?.hasUpperCaseLowerCase; else hasFirstNameOrLastName"
                class="text-fedex-red-500 text-xs italic absolute">{{ 'upperCaseLowerCaseInPassword' | translate }}</p>
        </ng-template>
        <ng-template #hasFirstNameOrLastName>
            <p id="password-firstname-lastname"
                *ngIf="(passwordControl?.touched || formSubmitted) && passwordControl?.errors?.hasFirstNameOrLastName; else minLength"
                class="text-fedex-red-500 text-xs italic absolute">{{ 'firstNameOrlastNameInPassword' | translate }}</p>
        </ng-template>
        <ng-template #minLength>
            <p id="password-maxlength-password"
                *ngIf="(passwordControl?.touched || formSubmitted) && passwordControl?.errors?.minlength?.actualLength < passwordControl?.errors?.minlength?.requiredLength"
                class="text-fedex-red-500 text-xs italic absolute">{{ 'maxlengthPassword' | translate }}</p>
        </ng-template>
    </div>
    <div class="w-full px-3 relative">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="fedex-password-repeat">
            {{ 'repeatPassword' | translate }}
        </label>
        <app-password-field formControlName="repeatPassword" name="repeatPassword" id="fedex-password-repeat">
        </app-password-field>
        <p id="repeat-password-required"
            *ngIf="(repeatPasswordControl?.touched || formSubmitted) && repeatPasswordControl?.errors?.required"
            class="text-fedex-red-500 text-xs italic absolute">{{ 'requiredField' | translate }}</p>

        <p id="repeat-password-mismatch" class="text-fedex-red-500 text-xs italic"
            *ngIf="repeatPasswordControl?.touched && repeatPasswordControl?.errors?.passwordMismatch absolute">{{
            'passwordsDoesNotMatch' | translate }}</p>
    </div>
</form>