<ng-container class="relative">
    <input [formControl]="formControl" [name]="name"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-fedex-blue-500"
        [type]="inputType" placeholder="********" autocomplete="off">
    <span class="fedex-password-icon" (click)="onShowHidePasswordFormControl()">
        <img *ngIf="inputType === 'password'" src="/assets/show-eye.svg" />
        <img *ngIf="inputType === 'text'" src="/assets/hide-eye.svg" />
    </span>
</ng-container>